<!DOCTYPE html>
<html lang="en">
<head>
  <title>登录</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport"/>
  <link rel="stylesheet" href="/webjars/bootstrap/3.3.7/css/bootstrap.min.css" />
  <link rel="stylesheet" href="/webjars/adminlte/2.3.7/dist/css/AdminLTE.min.css" />
  <link rel="stylesheet" href="/webjars/adminlte/2.3.7/dist/css/skins/_all-skins.min.css"  />
</head>
<body class="hold-transition skin-blue login-page">
<div class="login-box">
  <div class="login-logo">
    <b>教室管理系统</b>
  </div>
  <div class="login-box-body">
    <h3 class="text-center">Class Room Management</h3>
    <h4>${errorMessage!}</h4>
    <form action="/console/login" method="post">
      <div class="form-group has-feedback">
        <input type="text" name="username" class="form-control" placeholder="username"/>
        <span class="glyphicon glyphicon-user form-control-feedback"></span>
      </div>
      <div class="form-group has-feedback">
        <input type="password" name="password" class="form-control" placeholder="Password"/>
        <span class="glyphicon glyphicon-lock form-control-feedback"></span>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <button type="submit" class="btn btn-primary btn-block btn-flat">登录</button>
        </div>
      </div>
    </form>
  </div>
</div>
<script type="text/javascript" src="/webjars/jquery/2.2.4/dist/jquery.min.js"></script>
<script type="text/javascript" src="/webjars/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</body>
</html>