<!DOCTYPE HTML>
<html lang="en">
<#include "../common/head.html"/>
<body>
<section class="content-header">
  <h1>薪资管理</h1>
  <small>薪资列表</small>
</section>
<section class="content table-content">


  <#if errorMessage??>
    <div class="alert alert-success alert-dismissible fade in" role="alert">
      <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span>
      </button>
      ${errorMessage!}
    </div>
  </#if>
  <table id="dataGrid"></table>
</section>
<div id="toolbar">
  <form role="form" id="searchForm" class="form-inline">
    <div class="input-group">
      <span class="input-group-addon">用户名</span>
      <input type="text" class="form-control" name="username">
    </div>
    <div class="input-group">
      <span class="input-group-addon">员工编号</span>
      <input type="text" class="form-control" name="serialNumber">
    </div>

    <div>
      <button type="button" id="searchBtn" class="btn btn-primary">查询</button>
      <button type="reset" class="btn btn-warning">清空</button>
    </div>
  </form>
  <a href="/console/userSalary/detail/0" class="btn btn-primary">添加薪资记录</a>
</div>
<#include "../common/footer.html"/>
<#include "../common/bootstrap-table.html"/>
</body>
<script type="text/javascript">
    /**
     * 表单初始化
     */
    $(function () {
        initDataGrid('/console/userSalary/list', [
            {
                title: "序号", field: "id", formatter: function (value, row, index) {
                    //获取每页显示的数量
                    var pageSize = $table.bootstrapTable('getOptions').pageSize;
                    //获取当前是第几页
                    var pageNumber = $table.bootstrapTable('getOptions').pageNumber;
                    //返回序号，注意index是从0开始的，所以要加上1
                    return pageSize * (pageNumber - 1) + index + 1;
                }
            },
            {title: "用户名", field: "username"},
            {title: "员工编号", field: "serialNumber"},
            {title: "发放日期", field: "sendTime"},
            {title: "基本薪资", field: "salary"},
            {title: "加班费", field: "overtimePay"},
            {title: "绩效", field: "performance"},
            {title: "全勤奖", field: "perfectAttendanceAward"},
            {title: "保险费", field: "insurance"},
            {title: "加班次数", field: "overtime"},
            {title: "状态", field: "createTime", formatter: getStatus},
            {title: "注册时间", field: "createTime"},
            {title: "更新时间", field: "updateTime"},
            {title: "操作", field: "operate", align: 'center',  formatter: operateFormatter}
        ]);
    });

    function getStatus(value, row, index) {
        if (row.status === "WAIT") {
            return "待发放"
        } else {
            return "已发放";
        }
    }

    function operateFormatter(value, row, index) {
        return [
            '<a href="/console/userSalary/detail/' + row.id + '" >',
            '   <i class="glyphicon glyphicon-edit"></i>修改',
            '</a>  '
        ].join('');
    }
</script>
</html>