<!DOCTYPE HTML>
<html lang="en">
<#include "../common/head.html"/>
<body>
<section class="content">
  <#if errorMessage??>
    <div class="alert alert-success alert-dismissible fade in" role="alert">
      <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span>
      </button>
      ${errorMessage!}
    </div>
  </#if>
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <div class="box box-primary">
        <div class="box-header with-border">
          <h3 class="box-title">审批${(!approval.id??)?string('添加','修改')}</h3>
        </div>
        <div class="box-body">
          <form class="form-horizontal js-ajax-form" action="/console/approval/merge" method="post">
            <input type="hidden" name="id" id="id" value="${approval.id!}"/>

            <div class="form-group">
              <label class="col-sm-2 control-label">审批类型</label>
              <div class="col-sm-10">
                <select name="type" class="form-control">
                  <option value="事假" <#if approval.type! == '事假'></#if>>事假</option>
                  <option value="病假" <#if approval.type! == '病假'></#if>>病假</option>
                  <option value="调休" <#if approval.type! == '调休'></#if>>调休</option>
                  <option value="加班" <#if approval.type! == '加班'></#if>>加班</option>
                  <option value="报销" <#if approval.type! == '报销'></#if>>报销</option>
                </select>
              </div>
            </div>
            <div class="form-group">
              <label class="col-sm-2 control-label">审批备注</label>
              <div class="col-sm-10">
                <textarea name="remark" class="form-control" required>${approval.remark!}</textarea>
              </div>
            </div>
            <#if approval.userId??>

              <div class="form-group">
                <label class="col-sm-2 control-label">审批</label>
                <div class="col-sm-10">
                  <select name="status" class="form-control">
                    <option value="AGREE">同意</option>
                    <option value="REJECT">拒绝</option>
                  </select>
                </div>
              </div>
              <div class="form-group">
                <label class="col-sm-2 control-label">审批结果</label>
                <div class="col-sm-10">
                  <textarea name="opinion" class="form-control" required>

                  </textarea>
                </div>
              </div>
            <#else>
              <input type="hidden" name="userId" value="${sessionUser.id!}"/>
              <input type="hidden" name="status" value="WAIT"/>
            </#if>

            <div class="form-group">
              <div class="col-sm-offset-2 col-sm-10">
                <button type="submit" class="btn btn-default">提交</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
<#include "../common/footer.html"/>

</body>
</html>