<!DOCTYPE HTML>
<html lang="en">
<#include "../common/head.html"/>
<body>
<section class="content-header">
  <h1>审批管理</h1>
  <small>审批列表</small>
</section>
<section class="content table-content">


  <#if errorMessage??>
    <div class="alert alert-success alert-dismissible fade in" role="alert">
      <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span>
      </button>
      ${errorMessage!}
    </div>
  </#if>
  <table id="dataGrid"></table>
</section>
<div id="toolbar">
  <form role="form" id="searchForm" class="form-inline">
    <div class="input-group">
      <span class="input-group-addon">用户名</span>
      <input type="text" class="form-control" name="username">
    </div>
    <div class="input-group">
      <span class="input-group-addon">员工编号</span>
      <input type="text" class="form-control" name="serialNumber">
    </div>

    <div>
      <button type="button" id="searchBtn" class="btn btn-primary">查询</button>
      <button type="reset" class="btn btn-warning">清空</button>
    </div>
  </form>
</div>
<#include "../common/footer.html"/>
<#include "../common/bootstrap-table.html"/>
</body>
<script type="text/javascript">
    /**
     * 表单初始化
     */
    $(function () {
        initDataGrid('/console/approval/list', [
            {
                title: "序号", field: "id", formatter: function (value, row, index) {
                    //获取每页显示的数量
                    var pageSize = $table.bootstrapTable('getOptions').pageSize;
                    //获取当前是第几页
                    var pageNumber = $table.bootstrapTable('getOptions').pageNumber;
                    //返回序号，注意index是从0开始的，所以要加上1
                    return pageSize * (pageNumber - 1) + index + 1;
                }
            },
            {title: "用户名", field: "username"},
            {title: "员工编号", field: "serialNumber"},
            {title: "申请类型", field: "type"},
            {title: "备注", field: "remark"},
            {title: "审批结果", field: "opinion"},
            {title: "状态", field: "status", formatter: getStatus},
            {title: "申请时间", field: "createTime"},
            {title: "更新时间", field: "updateTime"},
            {title: "操作", field: "operate", align: 'center', formatter: operateFormatter}
        ]);
    });

    function getStatus(value, row, index) {
        if (row.status === "WAIT") {
            return "待审核"
        } else if (row.status === "AGREE") {
            return "同意"
        } else {
            return "拒绝";
        }
    }

    function operateFormatter(value, row, index) {
        if (row.status === "WAIT") {
            return [
                '<a href="/console/approval/detail/' + row.id + '" >',
                '   <i class="glyphicon glyphicon-edit"></i>审批',
                '</a>  '
            ].join('');
        } else {
            return "";
        }
    }
</script>
</html>