<!DOCTYPE HTML>
<html lang="en">
<#include "../common/head.html"/>
<body>
<section class="content-header">
  <h1>菜单管理</h1>
  <small>菜单列表</small>
</section>
<section class="content table-content">
  <#if errorMessage??>
    <div class="alert alert-success alert-dismissible fade in" role="alert">
      <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span>
      </button>
      ${errorMessage!}
    </div>
  </#if>
  <a href="/console/menu/detail/0" class="btn btn-primary">添加菜单</a>
  <table class="table table-bordered" id="dataGrid">
    <tr>
      <th>菜单名称</th>
      <th>权限标识</th>
      <th>菜单URL</th>
      <th>菜单类型</th>
      <th>排序</th>
      <th>创建时间</th>
      <th>更新日期</th>
      <th>操作</th>
    </tr>
    <#list menus as menu>
      <tr id="${menu.id!}"
          class="${(menu.parentId == 0)?string('treegrid-'+menu.id , 'treegrid-'+menu.id+' treegrid-parent-'+menu.parentId)}">
        <td>${menu.name!}</td>
        <td>${menu.code!}</td>
        <td>${menu.url!}</td>
        <td>${menu.type?switch("BUTTON","按钮","MENU","菜单","菜单+权限")}</td>
        <td>${menu.sort!}</td>
        <td>${menu.createTime!}</td>
        <td>${menu.updateTime!}</td>
        <td>
          <a href="/console/menu/detail/0?parentId=${menu.id}"><i class="glyphicon glyphicon-add"></i>添加子菜单</a>
          <a href="/console/menu/detail/${menu.id}"><i class="glyphicon glyphicon-edit"></i>修改</a>
          <a class="remove" data-id="${menu.id}" href="javascript:void(0);"><i
                    class="glyphicon glyphicon-remove"></i>删除</a></td>
      </tr>
    </#list>

  </table>
</section>

<#include "../common/footer.html"/>

<script type="text/javascript">
    $table = $("#dataGrid");
    $(function () {
        $(".table").treegrid({
            expanderExpandedClass: 'glyphicon glyphicon-minus',
            expanderCollapsedClass: 'glyphicon glyphicon-plus'
        });
        //删除处理
        $(".remove").on('click', function () {
            var _this = $(this);
            layer.confirm('确定删除吗?', function () {
                $.getJSON('/console/menu/delete', {id: _this.data('id')}, function (ret) {
                    if (ret.status) {
                        layer.msg(ret.msg, {icon: 1}, function () {
                            $('#' + _this.data('id')).hide();
                        });
                    } else {
                        layer.msg(ret.msg, {icon: 2});
                    }
                });
            });
        })
    });
</script>

</body>
</html>