<div class="header">
  <div class="top">
    <div class="top_nav_bg">
      <div class="top_nav_center">
        <div class="top_nav">
          <a href="login_alter.html" class="nobg">[个人中心]</a>
        </div>
      </div>
    </div>
  </div>
  <div class="logo_bg">
    <div class="logo_bg_center">
      <div class="logo_logo">
        <img src="/img/logo_r.png">
      </div>
      <div class="title">大学大学大学教室管理系统</div>
      <div class="title_down">University of Classroom Classroom Classroom Classroom Management System</div>
      <div class="img"><img src="/img/logo_r.png" alt=""></div>
    </div>
  </div>
  <div class="nav">
    <div class="nav_center">
      <div class="nav_mk"><a href="order_search.html">教室管理</a></div>
      <div class="nav_mk"><a href="">审批管理</a></div>
      <div class="nav_mk"><a href="">权限管理</a></div>
      <div class="nav_mk"><a href="">教学楼管理</a></div>
    </div>
  </div>
</div>