<!DOCTYPE HTML>
<html lang="en">
<#include "../common/head.html"/>
<body>
<section class="content">
  <#include "../common/messageTip.html"/>
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <div class="box box-primary">
        <div class="box-header with-border">
          <h3 class="box-title">${(!floor.id??)?string('添加','修改')}教学楼</h3>
        </div>
        <div class="box-body">
          <form class="form-horizontal js-ajax-form" action="/console/floor/merge" method="post">
            <input type="hidden" name="id" id="id" value="${floor.id!}"/>
            <div class="form-group">
              <label class="col-sm-2 control-label">楼主</label>
              <div class="col-sm-10">
                <select name="userId" class="form-control">
                  <#list userList as item>
                    <option value="${item.id}" <#if item.id == floor.userId!0>selected</#if>>${item.name}</option>
                  </#list>
                </select>
              </div>
            </div>

            <div class="form-group">
              <label class="col-sm-2 control-label">名字</label>
              <div class="col-sm-10">
                <input type="text" name="name" class="form-control" value="${floor.name!}"/>
              </div>
            </div>
            <div class="form-group">
              <label class="col-sm-2 control-label">地址</label>
              <div class="col-sm-10">
                <input type="text" name="address" class="form-control" value="${floor.address!}"/>
              </div>
            </div>
            <div class="form-group">
              <label class="col-sm-2 control-label">备注</label>
              <div class="col-sm-10">
                <textarea name="remark" class="form-control">${floor.remark!}</textarea>
              </div>
            </div>
            <div class="form-group">
              <div class="col-sm-offset-2 col-sm-10">
                <button type="submit" class="btn btn-default">提交</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
<#include "../common/footer.html"/>

</body>
</html>