<!DOCTYPE HTML>
<html lang="en">
<#include "../common/head.html"/>
<body>
<section class="content-header">
  <h1>部门职位管理</h1>
  <small>部门职位</small>
</section>
<section class="content table-content">
  <#if errorMessage??>
    <div class="alert alert-success alert-dismissible fade in" role="alert">
      <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span>
      </button>
      ${errorMessage!}
    </div>
  </#if>
  <a href="/console/role/detail/0" class="btn btn-primary">添加部门</a>
  <table class="table table-bordered" id="dataGrid">
    <tr>
      <th>名称</th>
      <th>备注</th>
      <th>排序</th>
      <th>是否启用</th>
      <th>创建时间</th>
      <th>更新日期</th>
      <th>操作</th>
    </tr>
    <#list roleList as item>
      <tr id="${item.id!}"
          class="${(item.parentId == 0)?string('treegrid-'+item.id , 'treegrid-'+item.id+' treegrid-parent-'+item.parentId)}">
        <td>${item.name!}</td>
        <td>${item.remark!}</td>
        <td>${item.sort!}</td>
        <td>${item.enable?string("启用","禁用")}</td>
        <td>${item.createTime!}</td>
        <td>${item.updateTime!}</td>
        <td>
          <a href="/console/role/detail/0?parentId=${item.id}"><i class="glyphicon glyphicon-add"></i>添加下级职位</a>
          <a href="/console/role/detail/${item.id}"><i class="glyphicon glyphicon-edit"></i>修改</a>
          <a class="remove" data-id="${item.id}" href="javascript:void(0);"><i
                    class="glyphicon glyphicon-remove"></i>删除</a>
          <a class="grant" data-id="${item.id}" href="javascript:void(0);">
            <i class="glyphicon glyphicon-edit"></i>授权
          </a>
        </td>
      </tr>
    </#list>

  </table>
</section>

<#include "../common/footer.html"/>

<script type="text/javascript">
    $table = $("#dataGrid");
    $(function () {
        $(".table").treegrid({
            expanderExpandedClass: 'glyphicon glyphicon-minus',
            expanderCollapsedClass: 'glyphicon glyphicon-plus'
        });
        //删除处理
        $(".remove").on('click', function () {
            var _this = $(this);
            layer.confirm('确定删除吗?', function () {
                $.getJSON('/console/role/delete', {id: _this.data('id')}, function (ret) {
                    if (ret.status) {
                        layer.msg(ret.msg, {icon: 1}, function () {
                            $('#' + _this.data('id')).hide();
                        });
                    } else {
                        layer.msg(ret.msg, {icon: 2});
                    }
                });
            });
        });

        // 授权
        $(".grant").on('click', function () {
            layer.open({
                type: 2,
                title: '角色授权',
                shadeClose: true,
                shade: false,
                maxmin: true, //开启最大化最小化按钮
                area: ['500px', '600px'],
                content: '/console/role/grant/?roleId=' + $(this).data('id')
            });
        });
    });
</script>

</body>
</html>