<!DOCTYPE HTML>
<html lang="en">
<#include "../common/head.html"/>
<body>
<section class="content-header">
    <h1>日志管理</h1>
    <small>日志列表</small>
</section>
<section class="content table-content">
    <table id="dataGrid"></table>
</section>
<#include "../common/footer.html"/>
<#include "../common/bootstrap-table.html"/>
</body>
<script type="text/javascript">

    /**
     * 表单初始化
     */
    $(function () {
        initDataGrid('/console/room/list', [
            {
                title: "序号", field: "id", formatter: function (value, row, index) {
                    //获取每页显示的数量
                    var pageSize = $table.bootstrapTable('getOptions').pageSize;
                    //获取当前是第几页
                    var pageNumber = $table.bootstrapTable('getOptions').pageNumber;
                    //返回序号，注意index是从0开始的，所以要加上1
                    return pageSize * (pageNumber - 1) + index + 1;
                }
            },
            {title: "操作用户", field: "user" },
            {title: "操作时间", field: "createTime"},
            {title: "操作IP", field: "ip"},
            {title: "操作地址", field: "action"}
        ]);
    });
</script>
</html>