<script type="text/javascript" src="/webjars/jquery/2.2.4/dist/jquery.min.js"></script>
<script type="text/javascript" src="/assets/jquery-migrate/1.4.1/jquery-migrate.min.js"></script>
<script type="text/javascript" src="/webjars/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script type="text/javascript" src="/assets/bootstrap-table/1.11.1/bootstrap-table.min.js"></script>
<script type="text/javascript" src="/assets/bootstrap-table/1.11.1/local/bootstrap-table-zh-CN.min.js"></script>
<script type="text/javascript" src="/webjars/jquery-treegrid/0.2.0/js/jquery.treegrid.js"></script>
<script type="text/javascript" src="/webjars/bootstrap-treeview/1.2.0/dist/bootstrap-treeview.min.js"></script>
<script type="text/javascript" src="/assets/jquery.form/4.2.0/jquery.form.min.js"></script>
<script type="text/javascript" src="/assets/layer/3.0.1/layer.js"></script>
<script type="text/javascript" src="/webjars/adminlte/2.3.7/dist/js/app.min.js"></script>


<script type="text/javascript" src="/webjars/moment/2.24.0/min/moment.min.js"></script>
<script type="text/javascript" src="/webjars/moment/2.24.0/min/locales.js"></script>
<script type="text/javascript" src="/webjars/Eonasdan-bootstrap-datetimepicker/4.17.47/js/bootstrap-datetimepicker.min.js"></script>

<script type="text/javascript" src="/js/common.js"></script>
<script>
    $('.datetime').datetimepicker({
        locale: 'zh-CN',
        format: 'YYYY-MM-DD',
    });
</script>