<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no"/>
<link rel="stylesheet" href="/webjars/bootstrap/3.3.7/css/bootstrap.min.css"/>
<link rel="stylesheet" href="/assets/bootstrap-table/1.11.1/bootstrap-table.min.css"/>
<link rel="stylesheet" href="/webjars/bootstrap-treeview/1.2.0/dist/bootstrap-treeview.min.css"/>
<link rel="stylesheet" href="/webjars/jquery-treegrid/0.2.0/css/jquery.treegrid.css"/>
<link rel="stylesheet" href="/webjars/font-awesome/4.7.0/css/font-awesome.min.css"/>
<link rel="stylesheet" href="/webjars/ionicons/2.0.1/css/ionicons.min.css"/>
<link rel="stylesheet" href="/webjars/adminlte/2.3.7/dist/css/AdminLTE.min.css"/>
<link rel="stylesheet" href="/webjars/adminlte/2.3.7/dist/css/skins/_all-skins.min.css"/>
<link rel="stylesheet" href="/css/app.css"/>

<!--时间-->
<link rel="stylesheet" href="/webjars/Eonasdan-bootstrap-datetimepicker/4.17.47/css/bootstrap-datetimepicker.min.css"/>
<style type="text/css">
  body {
    background: transparent;
  }
</style>
