<ul class="sidebar-menu">
  <li class="header">控制面板</li>
  <li class="treeview">
    <a href="/console/main" target="mainFrame">
      <i class="fa fa-dashboard"></i>
      <b>控制台</b>
    </a>
  </li>
  <li class="treeview">
    <a href="#">
      <i class="fa fa-dashboard"></i>
      <b>用户管理</b>
      <span class="pull-right-container">
        <i class="fa fa-angle-left pull-right"></i>
      </span>
    </a>
    <ul class="treeview-menu">
      <li>
        <a href="/console/user/index" target="mainFrame">用户列表</a>
      </li>
    </ul>
  </li>
</ul>